.graveyard-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.graveyard-modal-content {
  position: relative;
  background: rgba(0, 0, 0, 0.546);
  border: 1px solid goldenrod;
  box-shadow: 0 0 5px rgba(218, 165, 32, 0.5);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 1000px;
  max-height: 80%;
  overflow: auto;
}

.graveyard-modal .cards-container {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
}

.cards-modal-card {
  width: 15%;
  height: 15%;
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
}
