.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: rgb(2, 12, 17);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 60%;
  width: auto;
  height: auto;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
  display: flex;
}

.card-detail {
  width: 50%;
}

.modal-content img {
  width: 50%;
  height: auto;
}

.first-card {
  display: flex;
}

.second-card {
  display: flex;
}

.modal-content button {
  color: white;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.uncolored-mana {
  display: inline-block;
  background-color: #ccc;
  color: #000;
  font-size: 1.75rem;
  text-align: center;
  text-justify: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid black;
  margin-left: 1rem;
  line-height: 1.75rem;
}

.colored-mana {
  margin-left: 1rem;
}

.card-detail img {
  height: 2rem;
  width: auto;
}

.modal-title {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inline-mana {
  height: 1em !important;
  /* Assurez-vous que la taille de l'image s'adapte à la taille de la police environnante */
  width: auto;
  /* Laissez la largeur s'ajuster automatiquement */
  vertical-align: middle;
  /* Alignez verticalement les images avec le milieu du texte environnant */
  margin-left: 0.2em;
  /* Ajoutez un peu d'espace à gauche si nécessaire */
  margin-right: 0.2em;
  /* Ajoutez un peu d'espace à droite si nécessaire */
}

.inline-uncolored-mana {
  display: inline-block;
  background-color: #ccc;
  color: #000;
  font-size: 1em;
  text-align: center;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  line-height: 1em;
  margin: 0 0.1em;
}

.card-description {
  line-height: 1.4;
  /* Ajustez la hauteur de ligne si nécessaire pour un meilleur rendu du texte */
}

.card-description img {
  display: inline;
}

.card-capacity {
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .modal-content {
    max-width: 90%;
    max-height: 70vh;
  }
}

/* Styles pour les petits écrans (téléphones mobiles) */
@media (max-width: 604px) {
  .modal-content {
    max-width: 95%;
    max-height: 60vh;
    padding: 10px;
  }

  .modal-title {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-detail img {
    height: 1rem;
    width: auto;
  }

  .uncolored-mana {
    display: inline-block;
    background-color: #ccc;
    color: #000;
    font-size: 0.75rem;
    text-align: center;
    text-justify: center;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 0.5rem;
    line-height: 0.75rem;
  }

  .colored-mana {
    margin-left: 0.5rem;
  }
}