.context-menu {
  position: absolute;
  background: rgba(0, 0, 0, 0.546);
  border: 1px solid goldenrod;
  box-shadow: 0 0 5px rgba(218, 165, 32, 0.5);
  z-index: 1001;
}

.context-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu li {
  padding: 8px 12px;
  cursor: pointer;
}

.context-menu li:hover {
  background: rgba(218, 165, 32, 0.541);
  cursor: pointer;
}
