.game-board {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.board-panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}

.board-panel::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
  width: 100%;
  border-top: 2px solid rgba(113, 21, 21, 0.623);
}

.opponent-zone, .player-zone {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.battlefield {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex: 1;
  position: relative;
}

.battlefield .card {
  width: 100px;
  height: 140px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.player-library {
  display: flex;
  align-items: flex-end;
}

.opponent-library {
  display: flex;
}

.player-graveyard, .opponent-graveyard {
  display: flex;
}

.player-exil, .opponent-exil {
  display: flex;
  flex-direction: column;
}

.player-battlefield {
  flex: 1;
}

.opponent-battlefield {
  flex: 1;
  align-items: flex-end;
}

.selected-card {
  text-align: center;
  margin-bottom: 20px;
}

.selected-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.player-exil button {
  flex-grow: 1;
  border: 1px solid transparent;
  transition: border 0.3s ease-out, color 0.3s ease-out;
  border-radius: 5px;
}

.player-exil button:hover {
  color: goldenrod;
  box-shadow: 0 0 5px rgba(218, 165, 32, 0.5);
  border: 1px solid goldenrod;
}

.opponent-exil button {
  flex-grow: 1;
  border: 1px solid transparent;
  transition: border 0.3s ease-out, color 0.3s ease-out;
  border-radius: 5px;
}

.opponent-exil button:hover {
  color: goldenrod;
  box-shadow: 0 0 5px rgba(218, 165, 32, 0.5);
  border: 1px solid goldenrod;
}