.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
}

.app-container::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("/assets/MC-BG.png") center center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.2;
  z-index: -1;
}

.content {
  display: flex;
  flex-grow: 1;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
}

.basic-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-content: center;
}

.app-container button {
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.app-container a:hover{
  cursor: pointer;
}

.leave-btn {
  background-color: red;
}

.start-btn {
  background-color: teal;
}

.page-content {
  width: 100%;
}

.ingame-card {
  width: 200px;
  height: auto;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}