.player-hand,
.opponent-hand {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 10px 0;
}

.card-container {
  display: flex;
  align-items: center;
}

.player-hand .card,
.opponent-hand .card {
  width: 60px;
  height: 84px;
  border-radius: 5px;
  transition: transform 0.2s ease, z-index 0.2s ease;
}

.player-hand {
  align-items: flex-end;
}
