.search-card-container .cards-grid {
  display: grid;
  gap: 10px;
  justify-content: center;
}

.search-card-container .card img {
  width: 100%;
  height: auto;
}

.search-card-container .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.search-card-container {
  text-align: center;
}

.search-card-container input {
  margin-right: 1rem;
}

.search-card-container .list-card:hover {
  cursor: pointer;
}

.search-card-container button {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: border 0.3s ease, color 0.3s ease, background-color 0.3s ease,
    text-shadow 0.3s ease;
}

.search-card-container button:hover {
  border: 1px solid goldenrod;
  color: goldenrod;
  box-shadow: 0 0 5px rgba(218, 165, 32, 0.5);
  text-shadow: 0 0 5px rgba(218, 165, 32, 0.5);
}

@media (min-width: 1200px) {
  .search-card-container .cards-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .search-card-container .cards-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .search-card-container .cards-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 599px) {
  .search-card-container .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
