.cards-grid {
  display: grid;
  gap: 10px;
  justify-content: center;
}

.card img {
  width: 100%;
  height: auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-container {
  text-align: center;
}

.card-container input {
  margin-right: 1rem;
}

@media (min-width: 1200px) {
  .cards-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .cards-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 599px){
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}